@media (max-width: 1250px) {
  html {
    margin: 0;
  }
  .header-toggle {
    display: block;
  }

  .header-info,
  .full-offer-tool,
  .header-banner-offer,
  .header-banner-bottom-arrow,
  .header-banner-arrow-icon {
    display: none;
  }

  .full-offer-tooth {
    left: -250px;
    bottom: -350px;
  }

  .header-banner {
    margin-top: 150px;
  }

  .header-banner-title {
    font-size: 72px;
  }

  .header-banner-subtitle {
    font-size: 36px;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 15px;
    margin-left: 0;
  }

  .header-banner-button-box {
    display: block;
  }

  .header-banner-button {
    margin-top: 20px;
  }

  .full-offer {
    padding-bottom: 100px;
  }
}

@media (max-width: 991px) {
  .row,
  .header-banner-title {
    margin: 0 15px;
  }

  .header-banner-subtitle {
    padding-left: 0;
  }

  .full-offer-tile:nth-last-child(-n + 9) {
    display: none;
  }

  .full-offer-indicators {
    display: block;
    margin-left: 40px;
  }

  .full-offer-indicators-bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0 5px;
  }

  .full-offer-indicators-bullet:first-child {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 500px) {
  .header-banner-title {
    font-size: 40px;
  }

  .full-offer-tooth-img {
    height: 450px;
  }

  .header-banner-subtitle {
    font-size: 30px;
  }

  .header-logo-img {
    height: 50px;
    width: auto;
  }
}
