@font-face {
  font-family: ClarikaHeavy;
  src: url("fonts/Clarika/ClarikaProGrotDEMO-Hvy.eot"),
    url("fonts/Clarika/ClarikaProGrotDEMO-Hvy.woff2") format("woff2"),
    url("fonts/Clarika/ClarikaProGrotDEMO-Hvy.woff") format("woff"),
    url("fonts/Clarika/ClarikaProGrotDEMO-Hvy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: ClarikaLight;
  src: url("fonts/Clarika/ClarikaProGrotDEMO-Lt.eot"),
    url("fonts/Clarika/ClarikaProGrotDEMO-Lt.woff2") format("woff2"),
    url("fonts/Clarika/ClarikaProGrotDEMO-Lt.woff") format("woff"),
    url("fonts/Clarika/ClarikaProGrotDEMO-Lt.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: ClarikaGeoHeavy;
  src: url("fonts/Clarika/ClarikaProGeoDEMO-Hvy.eot"),
    url("fonts/Clarika/ClarikaProGeoDEMO-Hvy.woff2") format("woff2"),
    url("fonts/Clarika/ClarikaProGeoDEMO-Hvy.woff") format("woff"),
    url("fonts/Clarika/ClarikaProGeoDEMO-Hvy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  margin: 0 30px;
}

body {
  margin: 0;
  width: 100%;
  font-family: ClarikaLight;
  font-weight: 300;
}

h1,
h2 {
  font-family: ClarikaHeavy;
  font-weight: 800;
}

h3,
h4 {
  font-family: ClarikaLight;
  font-weight: 500;
}

a {
  cursor: pointer;
}

.btn {
  height: 40px;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 0 25px;
  margin-bottom: 1rem;
  line-height: 2.5;
}

.btn-pink {
  color: #fff;
  background-color: #e6007e;
}

.btn-dark {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-pink:hover {
  color: #fff;
}

.btn-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

.btn-circle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  position: relative;
  width: 100%;
  height: 950px;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-bar {
  margin: 0;
  height: 150px;
  padding: 0 5%;
}

.header-logo-img {
  height: 75px;
}

.header-toggle {
  display: none;
}

.header-info {
  margin: 0;
}

.header-info-item {
  padding: 25px;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 12px;
}

.header-info-item-language {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.header-info-item-open,
.header-info-item-button .btn-pink {
  font-family: ClarikaGeoHeavy;
}

.header-info-item-icon {
  padding: 0 10px;
  height: 40px;
}

.header-info-item-time {
  font-family: ClarikaHeavy;
  font-weight: 800;
}

.header-info-item-time-big {
  font-size: 30px;
}

.header-info-item-time-small {
  text-decoration: underline;
  vertical-align: top;
  line-height: 2;
}

.header-banner-title {
  margin-top: 20px;
  font-size: 150px;
  padding: 50px 0 20px 0;
}

.header-banner-subtitle {
  font-size: 24px;
  padding-left: 50px;
}

.header-banner-button-box {
  display: none;
}

.header-banner-arrow-icon {
  margin: 0 20px;
}

.header-banner-offer {
  margin-top: 100px;
}

.banner-offer-content-title {
  padding-bottom: 15px;
}

.banner-offer-img-box {
  align-items: end;
}

.header-banner-bottom {
  width: 100%;
  padding: 0 5%;
  position: absolute;
  bottom: 10%;
}

.header-banner-bottom-arrow {
  height: 100%;
}

.full-offer {
  padding: 150px 0;
  position: relative;
  background-color: #f2f2f2;
}

.full-offer-tooth {
  position: absolute;
  right: 12%;
  bottom: -40%;
  z-index: 10;
}

.full-offer-tool {
  position: absolute;
  left: -600px;
  bottom: -3%;
  z-index: 10;
}

.full-offer-title {
  font-size: 72px;
  margin-bottom: 100px;
}

.full-offer-tile {
  padding: 0;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.full-offer-box {
  margin-right: 30px;
}

.full-offer-img-box {
  padding: 0;
}

.full-offer-content-title {
  font-size: 30px;
  padding-bottom: 15px;
}

.full-offer-content-box {
  min-height: 200px;
}

.full-offer-content {
  font-size: 18px;
}

.full-offer-link-box {
  position: absolute;
  bottom: -10px;
}

.full-offer-link {
  color: rgba(0, 0, 0, 0.5);
  padding-right: 5px;
}

.full-offer-link:hover,
.full-offer-link:focus,
.full-offer-link:active,
.full-offer-link:visited {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.full-offer-indicators {
  display: none;
}

.footer {
  width: 100%;
  height: 144px;
  position: relative;
}

.footer-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
}

.footer-copy {
  text-align: center;
}

.footer-credit {
  text-align: center;
}

.footer-credit-logo img {
  opacity: 0.5;
  vertical-align: baseline;
}

.sub-page {
  padding: 120px 20px;
}

.sub-page-title {
  font-size: 72px;
  margin-bottom: 50px;
}

.sub-page-content {
  font-size: 24px;
}

.page-404-title {
  font-size: 72px;
}

.page-404 {
  padding: 100px 20px;
}

.page-404-content {
  margin-left: -15px;
}
